@{
    ViewBag.Title = "Home Page";
}

<div style="font-family:Arial">
    <div class="jumbotron">
        <h1>CRUD-APP</h1>
        <p class="lead">CRUD-APP von Jonas Mollet. Informatiker im ersten Lehrjahr, bei Swisscom AG.</p>
    </div>
</div>